<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <h2>Dashboard</h2>
        <form action="/student/logout" method="post" class="d-flex">
          <button type="submit" class="btn btn-md btn-outline-danger">
            Logout
          </button>
        </form>
      </div>
    </nav>
    <div class="dashboard-control">
      <div class="class-joined">
        <h5>Classes joined:</h5>
        <% rooms.forEach(room => { %>
        <div class="card text-center room-card">
          <div class="card-body">
            <h4 class="card-title"><%= room.roomName %></h4>
            <h6 class="card-text">Room ID: <%= room._id %></h6>
            <a href="/student/rooms/<%= room._id %>" class="btn btn-primary"
              >Go To Classroom</a
            >
          </div>
        </div>
        <% }) %>
      </div>
      <hr />
      <div class="join-class">
        <h3>Join a New Class:</h3>
        <form action="/student/joinClass" method="post">
          <div class="mb-3">
            <label for="classID" class="form-label"></label>
            <input
              type="text"
              name="classId"
              id="classID"
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-success">Join Class</button>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
